@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url();

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    /* max-width: 1440px; */
    max-width: 1536px;
    margin: 0 auto;
    background-color: transparent;
  }
}

@layer utilities {
  .h2-custom {
    @apply font-cabinet text-2xl xs:text-3xl md:text-5xl lg:text-7xl xl:text-[88px] 2xl:text-8xl;
  }

  .desc-custom {
    @apply text-lg md:text-xl lg:text-2xl lg:!leading-10 2xl:text-3xl 2xl:!leading-normal;
  }

  .padding-left {
    @apply pl-6 xs:pl-8 md:pl-16 lg:pl-20 xl:pl-[132px];
  }

  .benefits-img {
    @apply max-w-44 max-h-48 xs:max-h-[270px] sm:max-w-64 sm:max-h-[360px] md:max-w-[325px] md:max-h-[450px] lg:max-w-[425px] lg:max-h-[600px] xl:max-w-[525px] xl:max-h-[690px];
  }

  .active-link {
    @apply text-deepBlack;
  }
}
